<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysHotelMapper">
    
    <resultMap type="SysHotel" id="SysHotelResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="location"    column="location"    />
        <result property="region"    column="region"    />
        <result property="description"    column="description"    />
        <result property="price"    column="price"    />
        <result property="imageUrl"    column="image_url"    />
        <result property="createBy"   column="create_by"   />
        <result property="createTime" column="create_time" />
        <result property="updateBy"   column="update_by"   />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectSysHotelVo">
        select id, name, location, region, description, price, image_url,create_by, create_time, remark from sys_hotel
    </sql>

    <select id="selectSysHotelList" parameterType="SysHotel" resultMap="SysHotelResult">
        <include refid="selectSysHotelVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="region != null  and region != ''"> and region = #{region}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="price != null "> and price = #{price}</if>
        </where>
    </select>
    
    <select id="selectSysHotelById" parameterType="Long" resultMap="SysHotelResult">
        <include refid="selectSysHotelVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSysHotel" parameterType="SysHotel" useGeneratedKeys="true" keyProperty="id">
        insert into sys_hotel
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="location != null and location != ''">location,</if>
            <if test="region != null and region != ''">region,</if>
            <if test="description != null">description,</if>
            <if test="price != null">price,</if>
            <if test="imageUrl != null">image_url,</if>
            <if test="remark != null and remark != ''">remark,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="location != null and location != ''">#{location},</if>
            <if test="region != null and region != ''">#{region},</if>
            <if test="description != null">#{description},</if>
            <if test="price != null">#{price},</if>
            <if test="imageUrl != null">#{imageUrl},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
         </trim>
    </insert>

    <update id="updateSysHotel" parameterType="SysHotel">
        update sys_hotel
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="location != null and location != ''">location = #{location},</if>
            <if test="region != null and region != ''">region = #{region},</if>
            <if test="description != null">description = #{description},</if>
            <if test="price != null">price = #{price},</if>
            <if test="imageUrl != null">image_url = #{imageUrl},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysHotelById" parameterType="Long">
        delete from sys_hotel where id = #{id}
    </delete>

    <delete id="deleteSysHotelByIds" parameterType="String">
        delete from sys_hotel where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>